# Default ignored files
/shelf/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# IntelliJ ignored files
.idea/

# Ignore class files for client and server
client/target
server/target

# Ignore java version and application logs
.java-version
*log4j-application.log

